<%- include('partials/header') %>

<!-- About  -->
<section class="about" id="about">
    <div class="heading">
        <span>About Us</span>
        <h1>Best Customer Experience</h1>
    </div>
    <div class="about-container">
        <div class="about-img">
            <img src="https://cdn.pixabay.com/photo/2014/04/03/10/27/car-310523__340.png" alt="User Icon">
        </div>
        <div class="about-text">
            <span>About Us</span>
            <p>TravelToGether is the India's leading community-based travel network enabling over 90 million members to share a ride across 22 markets. leverages technology to fill empty seats on the road, connecting members looking to carpool or to travel by bus, and making travel more affordable, sociable and convenient. </p> 
            <p>TravelToGether’s environmentally and human-friendly mobility network saves 1.6M tons of CO2 and enables 120M human connections every year.</p>
            <a href="#" class="btn">Learn More</a>
        </div>
    </div>
</section>

<%- include('partials/footer') %>
