<%- include('partials/header') %>

<!-- Reviews -->
<section class="reviews" id="reviews" style="margin-top: 100px;">
    <div class="heading" >
        <span>Reviews</span>
        <h1>What our customer Say</h1>
    </div>
    <div class="review-container">
        <div class="box">
            <div class="rev-img">
                <i class='bx bxs-user-circle'></i>
            </div>
            <h2>Ajay Sharma</h2>
            <div class="stars">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <p>I recently had the pleasure of using TravelToGether for my daily commute, and I must say, I'm thoroughly impressed! This platform has completely changed the way I travel, making my daily journeys not just convenient but also environmentally friendly.</p>
            <!-- {{!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, ab. Quasi saepe autem maiores dignissimos illo iusto perspiciatis!</p> --}} -->
        </div>

        <div class="box">
            <div class="rev-img">
                <i class='bx bxs-user-circle'></i>
            </div>
            <h2>Satakshi Rai</h2>
            <div class="stars">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <p>First and foremost, the user interface is incredibly intuitive. Signing up was a breeze, and within minutes I was able to find ridesharing options tailored to my specific needs. Whether I needed a ride to work, the grocery store, or even a weekend getaway, there were always plenty of options available.</p>
            <!-- {{!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, inventore. Aperiam minima possimus accusantium et.</p> --}} -->
        </div>

        <div class="box">
            <div class="rev-img">
                <i class='bx bxs-user-circle'></i>
            </div>
            <h2>Sam Sulek</h2>
            <div class="stars">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star-half"></i>
            </div>
            <p>Safety is always a top priority for me, especially when it comes to ridesharing. That's why I was pleased to see the thorough vetting process that TravelToGether has in place for drivers. I always feel safe and secure knowing that I'm traveling with responsible individuals who have been thoroughly screened.</p>
            <!-- {{!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut nemo corporis exercitationem, veritatis porro veniam?</p> --}} -->
        </div>
    </div>
</section>


<%- include('partials/footer') %>
