<%- include('partials/header') %>
<!-- Ride -->
<section class="ride" id="ride" style="margin-top: 100px;">
    <div class="heading">
        <span>How It Works</span>
        <h1>Book with 3 Easy steps</h1>
    </div>
    <div class="ride-container">
        <div class="box">
            <i class='bx bxs-map'></i>
            <h2>Enter Pick-Up Location</h2>
            <p>Enter the location you are leaving from </p>
        </div>
  
        <div class="box">
            <i class='bx bxs-calendar-check' ></i>
            <h2>Enter Drop Location</h2>
            <p>Enter the location where you are going to</p>
        </div>
  
        <div class="box bb">
            <i class='bx bx-calendar-star'></i>
            <h2>Find a ride</h2>
            <p>Submit to see the rides availabe</p>
        </div>
    </div>
  </section>

<%- include('partials/footer') %>
